.btn{
    background-color: inherit;
    border: 3px solid #FFFFFF;
    border-radius: gem(10);
    padding: gem(15) gem(30) ;
    font-weight: 600;
    font-size: gem(16);
    line-height: gem(19);
    color: #FFFFFF;
    transition: all 0.5s ease-in-out;
    &:hover{
        background-color: $green;
        
    }
    &__green{
        padding: gem(20) gem(50);
        background-color: $green;
        &:hover{
            border: 3px solid $green;

        }
        @media (max-width: 480px){
            width: 100%;
        }
    }
    &__wide{
        padding: gem(15) gem(50);
        @media (max-width: 480px){
            width: 100%;
        }
    }
    

}