
:root {
  // FONT-SIZE
  --font-size-h1: #{gem(48)};
  --font-size-h2: #{gem(45)};
  --font-size-h3: #{gem(40)};
  --font-size-h4: #{gem(24)};

  @media all and (max-width: 991px) {
    --font-size-h1: #{gem(39)};
    --font-size-h2: #{gem(35)};
    --font-size-h3: #{gem(32)};
    --font-size-h4: #{gem(24)};
  }
  @media all and (max-width: 480px) {
    --font-size-h1: #{gem(28)};
    --font-size-h2: #{gem(26)};
    --font-size-h3: #{gem(28)};
    --font-size-h4: #{gem(20)};
  }
 
  //LINE-HEIGHT
  --line-height-h1: #{gem(58)};
  --line-height-h2: #{gem(54)};
  --line-height-h3: #{gem(48)};
  --line-height-h4: #{gem(29)};

  @media all and (max-width: 991px) {
    --line-height-h1: #{gem(53)};
    --line-height-h2: #{gem(54)};
    --line-height-h3: #{gem(38)};
  }
  @media all and (max-width: 480px) {
    --line-height-h1: #{gem(34)};
    --line-height-h2: #{gem(31)};
    --line-height-h3: #{gem(29)};
    --line-height-h4: #{gem(24)};

  }
}